@import url('https://use.typekit.net/xxc2poh.css');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/xxc2poh.css");

*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: #F1F1F3;
}
main {
    transition-delay: 500ms;
}
main { animation: fadeIn 3s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
main {
    padding-inline: 10vw;
    padding-block: 5vh;
}

button {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    padding: 15px 25px;
    font-family: 'Albert Sans';
    font-weight: 400;
    font-size: 18px;
    background-color: #D9D9D9;
    color: #1E1E1E;
    text-decoration: none;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
button > .white {
    display: none;
}
button:hover {
    background-color: #1E1E1E;
    color: #EAEAEA;
    filter: 200ms ease-in-out;
}
button:active {
    background-color: #1E1E1E;
    color: #EAEAEA;
}
button:hover > .black{
    display: none;
}
button:hover > .black {
    display: none;
}
button:hover > .white {
    display: inline;
}
.subtitle {
    font-family: 'Albert Sans';
    font-weight: 500;
    font-size: 16px;
    color: #1E1E1E;
    opacity: 50%;
    line-height: 25px;
}
.undertitle {
    font-size: 20px;
    color: #1E1E1E;
    line-height: 30px;
}


/* NAV */

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #F1F1F3;
    z-index: 9999;
}
nav {
    background-color: #F1F1F3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-block: 2vh;
    padding-inline: 10vw;
}
nav > a > .logo {
    float: flex-start;
    font-family: 'Gopher';
    color: #1E1E1E;
    font-size: 24px;
    font-weight: 400;
}
nav > a > .logo:hover {
    opacity: 75%;
}
nav > a {
    text-decoration: none;
}

nav > .nav_links {
    float: flex-end;
    list-style: none;
    font-family: 'Albert Sans';
    color: #1E1E1E;
    display: flex;
    flex-direction: row;
    column-gap: 3vw;
}
nav > ul > a {
    text-decoration: none;
    font-size: 20px;
    color: #1E1E1E;
    opacity: 50%;
    transition: 5ms;
}
nav > ul > a:hover {
    opacity: 100%;
}
nav > a > .hamburger_menu  {
    display: none;
}

/* SECTION ONE */

.section_one {
    margin-top: 20vh;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 15vh;
}
.section_one > div {

}
.section_one > div > img {
    width: 200px;
    border-radius: 100%;
    margin-bottom: 2vh;
}
.section_one > div > h1 {
    font-family: 'Albert Sans';
    font-weight: 400;
}
.section_one > div > p {
    font-family: 'Albert Sans';
    font-weight: 400;
    color: #1E1E1E;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

/* PROJECT PREVIEW SECTION */

.project_preview {
    padding-block: 10vh;
}
.flex-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;    
    column-gap: 5vw;
    row-gap: 3vh;
    justify-content: space-between;
    width: 100%;
    height: 1fr;
    flex-wrap: wrap;
    overflow: hidden;
    padding-bottom: 3vh;
}
.hero_wrapper {
    overflow: hidden;
    border-radius: 8px;
    width: 2fr;
    height: 1fr;
    margin-bottom: 2vh;
}
.hero {
    overflow: hidden;
    width: 100%;
    height: 100%;
    justify-content: center;
    border-radius: 8px;
    transition: transform 1s, filter 800ms ease-in-out;
    scale:(1);
}
.hero:hover {
    filter:opacity(90%);
    transform: scale(1.1);
    cursor: pointer;
}
.projects_hero {
    font-family: 'Albert Sans';
    align-items: center;
    margin-bottom: 5vh;
}
.projects_hero > h2 {
    font-family: 'Gopher';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1E1E1E;
}
.projects_hero > h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #1E1E1E;
    opacity: 50%;
}
a {
    text-decoration: none;
}

/* FOOTER */

footer {
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-block: 5vh;
    background-color: #EAEAEA;
    font-family: 'Albert Sans';
    font-size: 16px;
    font-weight: 300;
    color: #1E1E1E;
    line-height: 40px;
}
footer > .hi {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
}
footer > a > img {
    max-width: 20px;
    padding-inline: 5px;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
footer > a > img:hover {
    opacity: 50%;
}
main > .intro_hero {
    display: flex;
}

@media (max-width:1306px) {
    .section_intro > h1 {
        font-size: 2.5rem;
    }  
}
@media (max-width:1200px) {
    main {
    padding-inline: 5vw;
    padding-block: 1vh
}
    nav {
    height: 5vh;
    padding-block: 5vh;
    padding-inline: 5vw;
}
}
@media (max-width:960px) {

}
/* SECTION ONE */

.section_1 > .two_text_element {

}

@media (max-width:768px) {
main {
    padding-inline: 5vw;
    padding-block: 2vh;
}
nav {
    min-height: 5vh;
    padding-inline: 5vw;
    padding-block: 2vh;
    box-shadow: 0 0 20px -10px grey;
}
nav > .nav_links {
    display: none;
}
nav > a > .hamburger_menu {
    display: flex;
    max-height: 20px;
    cursor: pointer;
}
.flex-grid {
    display: grid;
    grid-template-columns: 2fr;    
    column-gap: 10vh;
    justify-content:center;
    width: 100%;
    height: 1fr;
    flex-wrap: wrap;
    overflow: hidden;
}
}
        
@media (max-width:425px) {
        
main {
    padding-inline: 5vw;
    padding-block: 5vh;
}
nav {
    padding-inline: 5vw;
    padding-block: 5vh;
}
.flex-grid {
    display: grid;
    grid-template-columns: 2fr;    
    column-gap: 10vh;
    justify-content:center;
    width: 100%;
    height: 1fr;
    flex-wrap: wrap;
    overflow: hidden;
}
.projects_hero {
    font-family: 'Albert Sans';
    align-items: center;
    padding-bottom: 1vh;
}
.projects_hero > h2 {
    font-family: 'Gopher';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1E1E1E;
}
.projects_hero > h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #1E1E1E;
    opacity: 50%;
}
.copyright {
    background-color: #cfcfcf;
    font-family: 'Albert Sans';
    font-size: 14px;
}
}
@media (max-width: 320px) {
            
main {
    padding-inline: 5vw;
    padding-block: 5vh;
}
    nav {
    padding-inline: 2vw;
    padding-block: 5vh;
}
}
