@import url('https://use.typekit.net/xxc2poh.css');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/xxc2poh.css");

*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: #F1F1F3;
}
main {
    padding-inline: 10em;
    padding-block: 5em;
}

/* NAV */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F1F1F3;
    max-width: 100%;
    min-height: auto;
    padding-top: 5em;
    padding-inline: 10em;
    transition: 0.4s;
    z-index: 6666;
   
    

}
nav > a >.name_tag {
    justify-content: flex-start;
    font-family: 'Gopher';
    color: #1E1E1E;
    font-size: 24px;
    font-weight:400; 
}
nav > a >.name_tag:hover {
    opacity: 75%;
}
nav > a {
    text-decoration: none;
}
nav > .nav_links {
    justify-content: flex-end;
    list-style: none;
    font-family: 'Albert Sans';
    color: #1E1E1E;
    display: flex;
    flex-direction: row;
    column-gap: 3em;
}
nav > ul > a {
    text-decoration: none;
    font-size: 20px;
    color: #1E1E1E;
    opacity: 50%;
    transition: 5ms;
}
nav > ul > a:hover {
    opacity: 100%;
}
nav > a > .hamburger_menu  {
    display: none;
}

/* MAIN SECTION */
main {
    transition: 0.4s;
}

.intro_section {
    width: 100%;
    height: 100%;
    background-color: #F1F1F3;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}
.intro_section > div {
    width: 100%;
    text-align: center;
    font-family: 'Albert Sans';
}
.intro_section > div > img {
    max-width: 10em;
    height: auto;
    border-radius: 100%;
    margin-bottom: 1em;
}
.intro_section > div > h1 {
    font-family: 'Albert Sans';
    font-weight: 300;
    font-size: 35px;
    width: 100%;
    color: #1E1E1E;
    text-align: center;
}
.intro_section > div > h2 {
    font-family: 'Albert Sans';
    font-weight: 300;
    padding-block: 0.3em;
    font-size: 18px;
}
.intro_section > div > h3 {
    font-weight: 300;
    font-size: 20px;
    color: #1E1E1E;
    opacity: 50%;
    padding-block: 0.3em;
}
.intro_section > .logo_cards {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    row-gap: 5vw;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-block: 10vh 20vw;
}
.logo_cards > img {
    max-height: 5vw;
    max-width: auto;
    opacity: 25%;
    filter: grayscale(100%);
    border-radius: none;
}
.seperator {
    height: 1px;
    width: 100%;
    background-color: #1E1E1E;
    opacity: 25%;
    margin-block: 5em;
}

/* PROJECTS SECTION */

.flex-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;    
    column-gap: 5%;
    justify-content: space-between;
    width: 100%;
    height: 1fr;
    flex-wrap: wrap;
    overflow: hidden;
}
.hero_wrapper {
    overflow: hidden;
    border-radius: 8px;
    width: 2fr;
    height: fit-content;
    margin-bottom: 5%;
}
.hero {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    justify-content: center;
    border-radius: 8px;
    transition: transform 1s, filter 500ms ease-in-out;
}
.hero:hover {
    filter:opacity(90%);
    transform: scale(1.1);
    cursor: pointer;
}
.projects_hero {
    font-family: 'Albert Sans';
    align-items: center;
    padding-bottom: 5em;
}
.projects_hero > h2 {
    font-family: 'Gopher';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1E1E1E;
    
}
.projects_hero > h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #1E1E1E;
    opacity: 50%;
}
.button_container {
    width: 100%;
    justify-content: center;
    align-items: center;
}
button {
    border: none;
    transition: transform 1s, filter 500ms ease-in-out;
}
button:hover{
    opacity: 75%;
}
button > a {
    display: flex;
    flex-direction: row;
    background-color: #F1F1F3;
    border: none;
    border-radius: 8px;
    padding-block: 1em;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    width: 100%;
}
a {
    text-decoration: none;
}
.see_more > a > .arrow {
    max-width: 20px;
}
.see_more > a > p {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Albert Sans';
    color: #1E1E1E;
    text-decoration: none;
}

/* FOOTER */

.copyright {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-block: 10vh;
    padding-inline: 10vw;
    background-color: #cfcfcf;
    font-family: 'Albert Sans';
    font-size: 16px;
    font-weight: 300;
    color: #1E1E1E;
    line-height: 40px;
}
.copyright > .nav_links_footer {
    display: flex;
    flex-direction: row;
    column-gap: 3vw;
    justify-content: center;
    align-items: center;
}
.copyright > .nav_links_footer > a > h2 {
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    color: #1E1E1E;
}
@media (max-width:1024px) {

main {
padding-inline: 5em;
padding-block: 5em;
}
nav {
    padding-inline: 5em;
}
}
    
@media (max-width:768px) {
main {
    padding-inline: 5vw;
    padding-block: 5vh;
}
nav {
    padding: 5vh 5vw;
}
nav > .nav_links {
    display: none;
}
nav > a > .hamburger_menu {
    display: flex;
    max-height: 20px;
    cursor: pointer;
}
.flex-grid {
    display: grid;
    grid-template-columns: 2fr;    
    column-gap: 20vh;
    justify-content:center;
    width: 100%;
    height: 1fr;
    flex-wrap: wrap;
    overflow: hidden;
}
.flex-grid {
    display: grid;
    grid-template-columns: 2fr;    
    column-gap: 5%;
    justify-content:center;
    width: 100%;
    height: 1fr;
    flex-wrap: wrap;
    overflow: hidden;
}
}
    
@media (max-width:425px) {
    
main {
    padding: 5vh 5vw;
}
nav {
    padding: 3vh 5vw;
}
.intro_section > .logo_cards {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    row-gap: 5vw;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-block: 10vh 10%;
}
.flex-grid {
    display: grid;
    grid-template-columns: 2fr;    
    column-gap: 5vh;
    justify-content:center;
    width: 100%;
    height: 1fr;
    flex-wrap: wrap;
    overflow: hidden;
}
.projects_hero {
    font-family: 'Albert Sans';
    align-items: center;
    padding-bottom: 5vh;
}
.projects_hero > h2 {
    font-family: 'Gopher';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1E1E1E;
}
.projects_hero > h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #1E1E1E;
    opacity: 50%;
}
.copyright {
    padding-inline: 1em;
    padding-bottom: 2em;
    background-color: #cfcfcf;
    font-family: 'Albert Sans';
    font-size: 14px;
}
}
@media (max-width: 320px) {
        
main {
    padding-inline: 1em;
    padding-block: 2em;
}
nav {
    padding-inline: 1em;
    padding-block: 2em;
}
}
    